@{
    ViewData["Title"] = "Get to Know Joel";
}

<!--Page that allows you to get to know Joel and see appropriate links-->

<h1>Get to Know Joel</h1>

<ul>
    <li>
        <!--Link that goes to his comedy page-->
        <a href="https://www.qwcomedy.com/" target="_blank">Quick Wits Comedy</a>
    </li>
    <li>
        <!--Link that goes to his reviews-->
        <a href="https://baconsale.com/" target="_blank">Baconsale</a>
    </li>
</ul>

<!--Image that is also a link-->
<a href="https://baconsale.com/" target="_blank">
    <img src="~/img/BaconsaleKate.jpg" alt="Joel - Baconsale" style="max-width: 100%; height: auto;">
</a>