@model Form

<!--Confirmation page that allows the user to also go back and enter another movie-->

<h2>Form entered. Thank you!</h2>
<h3>@Model.Title has been added to the database.</h3>

<div>
    <p>Would you like to enter another?</p>
    <a asp-controller="Home" asp-action="EnterMovie">Enter New Movie</a>
</div>