@{
    ViewData["Title"] = "Home Page";
}

<h1>The Joel Hilton Film Collection</h1>

<div>
    <p>Today is your lucky day. You may have the opportunity to date this...</p>
	<img hieght="500" src="~/img/joelhiltonheadshot.jpg" />
</div>
<br />

<div>
    <a asp-controller="Home" asp-action="EnterMovie">Enter New Movie</a>
</div>